In [51]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

ok_wells = './resources/InjectionWells.csv'
ok_quakes = './resources/okQuakes.csv'

wells_df = pd.read_csv(ok_wells)
quakes_df = pd.read_csv(ok_quakes)

In [52]:
# Cleaning Data
wells_df.dropna()
wells_df.drop_duplicates()
quakes_df.dropna()
quakes_df.drop_duplicates()
# https://stackoverflow.com/questions/18172851/deleting-dataframe-row-in-pandas-based-on-column-value
wells_df = wells_df[wells_df.LAT !=0]
places = quakes_df["place"].unique()
quakes_df = quakes_df.loc[quakes_df['place'].str.contains("Oklahoma")]

In [53]:
# comparing 
print(len(quakes_df))
print(len(wells_df))

7854
11075

In [54]:
# round(quakes_df['latitude'],0)
quakes_df.rename(columns={'latitude':'lat'}, inplace=True)
quakes_df['lat']= round(quakes_df['lat'],0)
quakes_df.rename(columns={'longitude':'lng'}, inplace=True)
quakes_df['lng']= round(quakes_df['lng'],0)
quakes_df

,time,lat,lng,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
4,1974-02-15T13:33:49.200Z,36.0,-101.0,24.00,4.5,mb,NaN,NaN,NaN,NaN,...,2014-11-06T23:21:22.859Z,Oklahoma,earthquake,NaN,NaN,NaN,NaN,reviewed,us,us
21,1974-12-16T02:30:21.400Z,35.0,-97.0,10.00,2.6,ml,NaN,NaN,NaN,NaN,...,2014-11-06T23:21:27.851Z,Oklahoma,earthquake,NaN,NaN,NaN,NaN,reviewed,m,tul
33,1975-09-13T01:25:02.800Z,34.0,-97.0,5.00,3.4,lg,NaN,NaN,NaN,NaN,...,2014-11-06T23:21:31.918Z,Oklahoma,earthquake,NaN,NaN,NaN,NaN,reviewed,us,tul
35,1975-10-12T02:58:11.200Z,35.0,-97.0,20.00,3.2,lg,NaN,NaN,NaN,NaN,...,2014-11-06T23:21:32.248Z,Oklahoma,earthquake,NaN,NaN,NaN,NaN,reviewed,us,tul
36,1975-11-29T14:29:40.900Z,35.0,-97.0,5.00,3.5,lg,NaN,NaN,NaN,NaN,...,2014-11-06T23:21:32.839Z,Oklahoma,earthquake,NaN,NaN,NaN,NaN,reviewed,us,slm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13940,2016-09-20T04:59:11.140Z,37.0,-98.0,2.62,3.9,mwr,NaN,18.0,0.063,0.46,...,2016-09-20T19:15:48.944Z,Oklahoma,earthquake,0.8,5.7,0.036,75.0,reviewed,us,us
13941,2016-09-20T05:38:38.350Z,36.0,-97.0,4.69,2.3,ml,NaN,54.0,0.018,0.16,...,2016-09-20T16:13:04.040Z,Oklahoma,earthquake,0.9,1.8,0.059,38.0,reviewed,us,us
13942,2016-09-20T06:36:35.520Z,36.0,-97.0,4.41,1.4,ml,NaN,59.0,0.025,0.18,...,2016-09-20T16:21:03.040Z,Oklahoma,earthquake,0.8,2.0,0.062,34.0,reviewed,us,us
13944,2016-09-20T17:31:48.380Z,37.0,-98.0,2.32,3.0,mb_lg,NaN,37.0,0.056,0.18,...,2016-09-20T17:43:43.040Z,Oklahoma,earthquake,1.0,3.7,0.076,45.0,reviewed,us,us
13945,2016-09-20T17:45:59.920Z,37.0,-98.0,7.20,2.5,mb_lg,NaN,39.0,0.048,0.35,...,2016-09-20T19:48:57.396Z,Oklahoma,earthquake,1.0,3.4,0.170,9.0,reviewed,us,us

In [55]:
# round(wells_df["LAT"],0 )
wells_df.rename(columns={'LAT':'lat'}, inplace=True)
wells_df['lat']=round(wells_df["lat"],0 )
wells_df.rename(columns={'LONG':'lng'}, inplace=True)
wells_df['lng']=round(wells_df["lng"],0 )
wells_df
# https://www.geeksforgeeks.org/how-to-rename-columns-in-pandas-dataframe/
# rankings_pd.rename(columns = {'test':'TEST'}, inplace = True)

,API#,Operator,Operator ID,WellType,WellName,WellNumber,OrderNumbers,Approval Date,County,Sec,...,Rng,QQQQ,lat,lng,PSI,BBLS,ZONE,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,3.500300e+09,PHOENIX PETROCORP INC,19499.0,2R,SE EUREKA UNIT-TUCKER #1,21,1.338560e+05,9/6/1977,ALFALFA,13,...,10W,C-SE SE,37.0,-98.0,"2,500",300,CHEROKEE,NaN,NaN,NaN
1,3.500300e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,CHRISTENSEN,1,4.702580e+05,11/27/2002,ALFALFA,21,...,09W,C-NW NW,37.0,-98.0,"2,400","1,000",RED FORK,NaN,NaN,NaN
2,3.500321e+09,LINN OPERATING INC,22182.0,2R,NE CHEROKEE UNIT,85,3.294260e+05,8/19/1988,ALFALFA,24,...,11W,SE NE,37.0,-98.0,"1,050","1,000",RED FORK,NaN,NaN,NaN
3,3.500321e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281.0,2R,VELMA,2-19,2.816520e+05,7/11/1985,ALFALFA,19,...,10W,SW NE NE SW,37.0,-98.0,"3,152","1,000",RED FORK,NaN,NaN,NaN
4,3.500321e+09,CHAMPLIN EXPLORATION INC,4030.0,2R,GRAY,1A,4.702570e+05,11/27/2002,ALFALFA,20,...,09W,SE SW NW,37.0,-98.0,"1,000","2,400",RED FORK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11118,3.515323e+09,WHEELER ENERGY LLC,22145.0,2R,MCGOU 'A',1-27,5.470900e+05,11/28/2007,WOODWARD,27,...,22W,CT SW SW,36.0,-100.0,"3,000","1,000",COTTAGE GROVE,NaN,NaN,NaN
11119,3.515323e+09,WOODWARD IODINE CORPORATION,12837.0,2D,WOODWARD IODINE,45,1.607380e+09,4/19/2016,WOODWARD,34,...,20W,N2 NW NW NW,37.0,-99.0,"1,500","19,999","ADMIRE, CHASE, COUNCIL GROVE, VIRGIL",NaN,NaN,NaN
11120,3.515323e+09,WOODWARD IODINE CORPORATION,12837.0,2D,"CEI PETROLEUM, INC.",24-1,1.607380e+09,4/22/2016,WOODWARD,24,...,20W,C SW SW SW,36.0,-99.0,"1,792","19,999","WABAUNSEE, WOLFCAMPIAN",NaN,NaN,NaN
11121,3.515324e+09,SANDRIDGE EXPLORATION & PRODUCTION LLC,22281.0,2D,JIMMIE SWD,1-28,1.303440e+09,12/7/2012,WOODWARD,28,...,18W,E2 W2 SW SW,36.0,-99.0,"2,940","60,000","MUSSELLEM, OKLAHOMA",NaN,NaN,NaN
11125,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# https://towardsdatascience.com/how-to-easily-join-data-by-location-in-python-spatial-join-197490ff3544
# https://towardsdatascience.com/geopandas-101-plot-any-data-with-a-latitude-and-longitude-on-a-map-98e01944b972
# import descartes
import geopandas as gpd
from shapely.geometry import Point

# points_1= [ [x,y] for x,y in zip(wells_df['lat'],wells_df['lng'])]
# points= [ xy for xy in zip(wells_df['lat'],wells_df['lng'])]
# geo_df_1 = gpd.GeoDataFrame(wells_df, geometry=points )

# points_2= [ [x,y] for x,y in zip(quakes_df['lat'],quakes_df['lng'])]
# points= [ xy for xy in zip(quakes_df['lat'],quakes_df['lng'])]
# geo_df_2 = gpd.GeoDataFrame(quakes_df, geometry=points )

# wells_df['points'] = points_1
# quakes_df['points']= points_2
# are not unique????
# wells_df['points'].unique
# quakes_df['points'].unique

In [57]:
# # north oklahoma? 
# # EPSG:2267
# import geopandas as gpd
# from shapely.geometry import Point

# # creating a geometry column 
# # geometry = [Point(xy) for xy in zip(cities['longitude'], cities['latitude'])]# Coordinate reference system : WGS84
# points= [ Point(xy) for xy in zip(wells_df['lat'],wells_df['lng'])]
# # points
# crs = {'init': 'epsg:4326'}# Creating a Geographic data frame 
# gdf = gpd.GeoDataFrame(wells_df, crs=crs, geometry=points)
# gdf.plot(marker='*', markersize=0.2)

In [66]:

# wells_df[wells_df['lng'] == -195]


import gmaps
locations = quakes_df[['lat','lng']]
fig = gmaps.figure()

# # Create heat layer, with humidity as weight 
heat_layer = gmaps.heatmap_layer(locations,  dissipating=True, max_intensity=.5,point_radius=1)

# # Add layer
fig.add_layer(heat_layer)

# # Display figure
fig

Figure(layout=FigureLayout(height='420px'))